<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="pdf">
            <!-- <div class="pdf-preview">
                <button class="pdf-preview-btn" v-for="i in 7" @click="setPage(i)">{{ i }}</button>
            </div> -->
            <pdf-page v-if="!pageToggle || visible === 1" date="July 2018" label="IEP page 1" num="1" total="7">
                <div>
                    <div class="text-center">
                        <h2 class="heading-2 text-uppercase pb-1">Information</h2>
                    </div>
                    <div class="cell info-cell">
                        <div class="cell-item col-lg-5 col-xs-5">
                            <h2 class="heading-2 text-uppercase">student/parent information</h2>
                            <div class="row cell-row">
                                <div class="col-lg-9 col-xs-9">
                                    <cell-line label="Student" data="test"></cell-line>
                                </div>
                                <div class="col-lg-3 col-xs-3">
                                    <cell-line label="Sex" data="M"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-4 col-xs-4 pr-0">
                                    <cell-line label="Birthday" data="test"></cell-line>
                                </div>
                                <div class="col-lg-3 col-xs-3 pr-1">
                                    <cell-line label="Grade" data=""></cell-line>
                                </div>
                                <div class="col-lg-5 col-xs-5">
                                    <cell-line label="Student ID #" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-10 col-xs-10">
                                    <cell-line label="Student Primary language" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-10 col-xs-10">
                                    <cell-line label="Student English Proficiency Code (optional)" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Address" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-7 col-xs-7">
                                    <cell-line label="Student Phone" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-7 col-xs-7">
                                    <cell-line label="LEP Status" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Federal Placement Code" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Federal Student Ethnicity Code" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Parent/Guardian/Surrogate" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-8 col-xs-8">
                                    <cell-line label="Parent Phone (Home)" data=""></cell-line>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <cell-line label="(Work)" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Optional: Cell" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Email" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Primary language spoken at home" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line display="block" label="Interpreter or other accomidations needed" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Emergency Contact Phone Number" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Current School" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="Zoned School" data=""></cell-line>
                                </div>
                            </div>
                        </div>
                        <div class="cell-item col-lg-3 col-xs-3">
                            <h2 class="heading-2 text-uppercase pb-2">Eligibility category</h2>
                            <div>
                                <check-box label="A" checked="true"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                                <check-box label="A"></check-box>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="ELIGIBILITY DATE" data="" line="80"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line display="d-flex space-between" label="ANTICIPATED <br /> 3 YR EVALUATION" data=""></cell-line>
                                </div>
                            </div>
                        </div>
                        <div class="cell-item">
                            <h2 class="heading-2 text-uppercase">meeting information</h2>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="DATE OF MEETING" data="" line="120"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="DATE OF LAST IEP MEETING" data="" line="120"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <h2 class="heading-2 text-uppercase text-regular">purpose of meeting</h2>
                                    <div>
                                        <check-box label="A"></check-box>
                                        <check-box label="A"></check-box>
                                        <check-box label="A"></check-box>
                                        <check-box label="A"></check-box>
                                        <div class="d-flex space-between">
                                            <check-box label="A"></check-box>
                                            <cell-line data="" line="120"></cell-line>
                                        </div>
                                        <check-box label="A"></check-box>
                                        <check-box label="A"></check-box>
                                        <div class="d-flex space-between col-lg-12 col-xs-12">
                                            <span class="pl-2">At the request of</span>
                                            <check-box label="Parent or"></check-box>
                                            <check-box label="school district"></check-box>
                                        </div>
                                        <div class="d-flex space-between">
                                            <check-box label="A"></check-box>
                                            <cell-line data="" line="120"></cell-line>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="IEP SERVICES WILL BEGIN" data="" line="120"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="ANTICIPATED <br /> DURATION OF SERVICES" data="" line="120"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <cell-line label="IEP REVIEW DATE" data="" line="120"></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-12 col-xs-12">
                                    <h2 class="heading-2 text-uppercase text-regular">comments</h2>
                                    N/A
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </pdf-page>

            <!-- PAGE 2 -->

            <pdf-page v-if="!pageToggle || visible === 2" :visible="true" date="July 2018" label="IEP page 2" num="2" total="7">
                <div>
                    <div class="text-center">
                        <h2 class="heading-2 text-uppercase">iep participation</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item">
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Parent/Guardian/Surrogate<sup>*</sup>" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Speech/Language Therapist/Pathologist/Specialist" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Parent/Guardian/Surrogate<sup>*</sup>" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Speech/Language Therapist/Pathologist/Specialist" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Parent/Guardian/Surrogate<sup>*</sup>" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Speech/Language Therapist/Pathologist/Specialist" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Parent/Guardian/Surrogate<sup>*</sup>" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Speech/Language Therapist/Pathologist/Specialist" data=""></cell-line>
                                </div>
                            </div>
                            <div class="row cell-row">
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Parent/Guardian/Surrogate<sup>*</sup>" data=""></cell-line>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <cell-line label="Speech/Language Therapist/Pathologist/Specialist" data=""></cell-line>
                                </div>
                            </div>
                            <p><sup>*</sup> Required Participant.</p>
                            <p><sup>**</sup> Student must be invited when transition is discussed (beginning at age 14 or younger if appropriate).</p>
                            <p><sup>***</sup> The IEP team must include at least one regular education teacher of the student (if the student is, or may be, participating in the regular education environment).</p>
                        </div>
                    </div>
                </div>
            </pdf-page>

             <!-- PAGE 3 -->

            <pdf-page v-if="!pageToggle || visible === 3" date="July 2018" label="IEP page 4" num="3" total="7">
                <div>
                    <div class="text-center">
                        <h2 class="heading-2 text-uppercase">Procedural safeguards</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item">
                            <check-box label="I have received a statement of procedural safeguards under the Individuals with Disabilities Education Act (IDEA) and these rights have been explained to me in my primary language."></check-box>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6 col-lg-offset-6 col-xs-offset-6 pt-2">
                                    <cell-line label="parent signature" data="" line="460" display="d-flex flex-start"></cell-line>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell bt-0">
                        <div class="cell-item">
                            <h2 class="heading-2 text-regular">AT LEAST ONE YEAR PRIOR TO REACHING AGE 18, STUDENTS MUST BE INFORMED OF THEIR RIGHTS UNDER IDEA AND ADVISED THAT THESE RIGHTS WILL
                                TRANSFER TO THEM AT AGE 18.</h2>
                                <cell-line label="Not applicable. Student will not be 18 within one year, and the student's next annual IEP meeting will occur no later than the student's 17th birthday" data=""></cell-line>
                                <cell-line label="The student has been informed of his/her rights under IDEA and advised of the transfer of these rights at age 18." data=""></cell-line>
                        </div>
                    </div>
                    <div class="pt-4 pb-4">
                        <div class="text-center">
                            <h2 class="heading-2">PRESENT LEVELS OF ACADEMIC ACHIEVEMENT AND FUNCTIONAL PERFORMANCE</h2>
                        </div>
                        <p>Consider results of the initial evaluation or most recent reevaluation, and the academic, developmental, and functional needs of the student, which may include the following areas:
                            academic achievement, language/communication skills, social/emotional/behavior skills, cognitive abilities, health, motor skills, adaptive skills, pre-vocational skills, vocational skills, and
                            other skills as appropriate. For students who are 16 or older, or will turn 16 when this IEP is in effect, also consider the results of age appropriate transition assessments related to
                            training/education, employment, and independent living skills (as appropriate).</p>
                    </div>
                    <div class="cell">
                        <div class="cell-item col-lg-3 col-xs-3">
                            <h2 class="heading-2 text-uppercase">Assessments conducted</h2>
                        </div>
                        <div class="cell-item col-lg-6 col-xs-6">
                            <h2 class="heading-2 text-uppercase">Assessments results</h2>
                        </div>
                        <div class="cell-item col-lg-3 col-xs-3">
                            <h2 class="heading-2 text-uppercase">EFFECT ON STUDENT'S
                                INVOLVEMENT AND PROGRESS IN
                                GENERAL EDUCATION CURRICULUM
                                OR, FOR EARLY CHILDHOOD
                                STUDENTS, INVOLVEMENT IN
                                DEVELOPMENTAL ACTIVITIES</h2>
                        </div>
                    </div>
                    <div class="cell bt-0">
                        <div class="cell-item pb-0 pt-0">
                            <em>No assessments recorded.</em>
                        </div>
                    </div>
                    <div class="text-center pt-2 pb-2">
                        <h2 class="heading-2">STRENGTHS, CONCERNS, INTERESTS AND PREFERENCES</h2>
                    </div>
                    <div class="cell pdf-statement">
                        <div class="cell-item">
                            <h2 class="heading-2">STATEMENT OF STUDENT STRENGTHS</h2>
                        </div>
                    </div>
                    <div class="cell pdf-statement bt-0">
                        <div class="cell-item">
                            <h2 class="heading-2">STATEMENT OF PARENT EDUCATIONAL CONCERNS</h2>
                        </div>
                    </div>
                    <div class="cell pdf-statement bt-0">
                        <div class="cell-item">
                            <h2 class="heading-2">STATEMENT OF STUDENT'S PREFERENCES AND INTERESTS
                                <span class="text-regular pl-4">(required if transition services will be discussed, beginning at age 14 or younger if appropriate)</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </pdf-page>

            <!-- PAGE 4 -->

            <pdf-page v-if="!pageToggle || visible === 4" date="July 2018" label="IEP page 4" num="4" total="7">
                <div>
                    <div class="text-center">
                        <h2 class="heading-2 pb-1">STRENGTHS, CONCERNS, INTERESTS AND PREFERENCES</h2>
                    </div>
                    <div class="cell pdf-statement">
                        <div class="cell-item">
                            <h2 class="heading-2">If student was not in attendance, describe the steps taken to ensure that the student's preferences and interests were considered:</h2>
                        </div>
                    </div>
                    <div class="text-center pt-3">
                        <h2 class="heading-2 pb-1">CONSIDERATION OF SPECIAL FACTORS</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item pb-0">
                            <ol class="pdf-page-special-factors mt-0 mb-0">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6">
                                            <span>Does the student's behavior impede the student's learning or the learning of others? </span>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="No"></check-box>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="Yes"></check-box>
                                        </div>
                                    </div>
                                    <div>
                                        <span>If YES, IEP committee <strong>must provide</strong> positive behavioral strategies, supports and interventions, or other strategies, supports and interventions to address that behavior.</span>
                                        <div class="pt-2">
                                            <check-box label="Addressed in IEP."></check-box>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6">
                                            <span> Does the student require assistive technology devices and services? </span>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="No"></check-box>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="Yes"></check-box>
                                        </div>
                                    </div>
                                    <div>
                                        <span>If YES, IEP committee <strong>must determine</strong> nature and extent of devices and services.</span>
                                        <div class="pt-2">
                                            <check-box label="Addressed in IEP."></check-box>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6">
                                            <span>Does the student have limited English proficiency?</span>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="No"></check-box>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="Yes"></check-box>
                                        </div>
                                    </div>
                                    <div>
                                        <span>If YES, IEP committee  <strong>must consider</strong> the following (check box if IEP committee considered the item):</span>
                                        <div class="pt-2">
                                            <check-box label="Language needs of the student as those needs relate to the student's IEP."></check-box>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6">
                                            <span>Is the student blind or visually impaired?</span>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="No"></check-box>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="Yes"></check-box>
                                        </div>
                                    </div>
                                    <div>
                                        <span>If YES, IEP committee must evaluate reading and writing skills, needs, and appropriate reading and writing media (including an evaluation of the child’s future needs for instruction in
                                            Braille or use of Braille) and <strong>must provide</strong> for instruction in Braille and use of Braille <strong>unless determined</strong> not appropriate for the student.</span>
                                        <div class="pt-2">
                                            <div class="row">
                                                <div class="col-lg-6 col-xs-6">
                                                    <check-box label="Braille instruction and use of Braille is not appropriate for student."></check-box>
                                                </div>
                                                <div class="col-lg-6 col-xs-6">
                                                    <check-box label="Braille instruction and use of Braille is addressed in IEP."></check-box>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6">
                                            <span>Does the student have communication needs that require IEP services?</span>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="No"></check-box>
                                        </div>
                                        <div class="col-lg-2 col-xs-2">
                                            <check-box label="Yes"></check-box>
                                        </div>
                                    </div>
                                    <div>
                                        <span>If YES, IEP committee <strong>must determine</strong> nature and extent of services.</span>
                                        <div class="pt-2">
                                            <check-box label="Addressed in IEP."></check-box>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </pdf-page>

            <!-- PAGE 5 -->
            <pdf-page v-if="!pageToggle || visible === 5" date="July 2018" label="IEP page 5" num="5" total="7">
                <div>
                    <div class="text-center">
                    <h2 class="heading-2 text-uppercase">consideration of special factors</h2>
                    </div>
                    <div class="cell">
                    <div class="cell-item pb-0">
                        <ol class="pdf-page-special-factors mt-0 mb-0" start="6">
                            <li>
                                <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <span> Is the student deaf or hard of hearing? </span>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <check-box label="No"></check-box>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <check-box label="Yes"></check-box>
                                </div>
                                </div>
                                <div>
                                <span>If YES, IEP committee <strong>must consider</strong> the student’s language and communication needs and consider the following (check box if IEP committee considered the item):</span>
                                <div class="pt-2">
                                    <check-box label="The related services and program options that provide the student with an appropriate and equal opportunity for communication access."></check-box>
                                    <check-box label="The student’s primary communication mode."></check-box>
                                    <check-box label="The availability to the student of a sufficient number of age, cognitive, academic and language peers of similar abilities."></check-box>
                                    <check-box label="The availability to the student of adult models who are deaf or hearing impaired and who use the student’s primary communication mode."></check-box>
                                    <check-box label="The availability of special education teachers, interpreters and other special education personnel who are proficient in the student’s primary communication mode."></check-box>
                                    <check-box label="The provision of academic instruction, school services and direct access to all components of the educational process, including, without limitation, advanced
                                    placement courses, career and technical education courses, recess, lunch, extracurricular activities and athletic activities."></check-box>
                                    <check-box label="The related services and program options that provide the student with an appropriate and equal opportunity for communication access."></check-box>
                                    <check-box label="The related services and program options that provide the student with an appropriate and equal opportunity for communication access."></check-box>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <span> Does the student have a Specific Learning Disability and Dyslexia?</span>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <check-box label="No"></check-box>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <check-box label="Yes"></check-box>
                                </div>
                                </div>
                                <div>
                                <span>If YES, IEP committee <strong>must consider</strong> the following instructional approaches (check box if IEP committee considered the item):</span>
                                <div class="pt-2">
                                    <check-box label="Explicit, direct instruction that is systematic, sequential and cumulative and follows a logical plan of presenting the alphabetic principle that targets the specific needs
                                        of the student."></check-box>
                                    <check-box label="Individualized instruction to meet the specific needs of the student in an appropriate setting that uses intensive, highly-concentrated instruction methods and materials
                                    that maximize student engagement."></check-box>
                                    <check-box label="Meaning-based instruction directed at purposeful reading and writing, with an emphasis on comprehension and composition."></check-box>
                                    <check-box label="Multisensory instruction that incorporates the simultaneous use of two or more sensory pathways during teacher presentations and student practice."></check-box>
                                </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    </div>
                    <div class="text-center">
                    <h2 class="heading-2 pt-2 pb-1">IEP GOALS, INCLUDING ACADEMIC AND FUNCTIONAL GOALS, AND BENCHMARKS OR SHORT-TERM OBJECTIVES</h2>
                    </div>
                    <div class="cell">
                    <div class="cell-item pt-0 pb-0">
                        <em>NO IEP goals recorded.</em>
                    </div>
                    </div>
                    <div class="text-center pt-2">
                        <h2 class="heading-2">METHOD FOR REPORTING PROGRESS</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item pb-0">
                            <h2 class="heading-2">METHOD FOR REPORTING THE STUDENT'S PROGRESS TOWARD MEETING ANNUAL GOALS</h2>
                            <p class="mt-2 pb-2">(check all methods that will be used)</p>
                            <div class="row">
                                <div class="col-lg-4 col-xs-4">
                                    <check-box label="IEP Goals Pages"></check-box>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <check-box label="District Report Card"></check-box>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xs-4">
                                    <check-box label="IEP Goals Pages"></check-box>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <check-box label="District Report Card"></check-box>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xs-4 pb-4">
                                    <div class="d-flex w-100">
                                        <check-box label="Other"></check-box>
                                        <cell-line></cell-line>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-item pb-0">
                            <h2 class="heading-2 pb-2">PROJECTED FREQUENCY OF REPORTS</h2>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <check-box label="IEP Goals Pages"></check-box>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <check-box label="District Report Card"></check-box>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <check-box label="IEP Goals Pages"></check-box>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                    <div class="d-flex">
                                        <check-box label="Other"></check-box>
                                        <cell-line></cell-line>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt-2">
                        <h2 class="heading-2 pb-2">SPECIAL EDUCATION SERVICES</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item col-lg-6 col-xs-6">
                            <h2 class="heading-2 pb-2">SPECIALLY DESIGNED INSTRUCTION </h2>
                        </div>
                        <div class="col-lg-6 col-xs-6 pr-0">
                            <div class="cell btb-none">
                                <div class="cell-item">
                                    <h2 class="heading-2">BEGINNING AND ENDING DATES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">FREQUENCY OF SERVICES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">LOCATION OF SERVICES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </pdf-page>

             <!-- PAGE 6 -->
             <pdf-page v-if="!pageToggle || visible === 6" visible="false" date="July 2018" label="IEP page 6" num="6" total="7">
                <div>
                    <div class="text-center">
                        <h2 class="heading-2 pb-2 pt-2">SUPPLEMENTARY AIDS AND SERVICES</h2>
                        <strong>Includes aids, services, and other supports provided in regular education classes, other education-related settings (including special education settings), and in extracurricular and
                            nonacademic settings to enable students with disabilities to be educated with nondisabled students to the maximum extent appropriate.</strong>
                    </div>
                    <div class="cell mt-4">
                        <div class="cell-item col-lg-6 col-xs-6">
                            <h2 class="heading-2 pb-2">MODIFICATION, ACCOMMODATION, OR SUPPORT FOR STUDENT OR PERSONNEL</h2>
                            <span>Provide specific description(s) below:</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 pr-0">
                            <div class="cell btb-none">
                                <div class="cell-item">
                                    <h2 class="heading-2">BEGINNING AND ENDING DATES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">FREQUENCY OF SERVICES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">LOCATION OF SERVICES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h2 class="heading-2 pb-2 pt-2">RELATED SERVICES</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item col-lg-6 col-xs-6">
                            <div class="row">
                                <div class="col-lg-4 col-xs-4 cell btb-none">
                                    <h2 class="heading-2">RELATED SERVICE</h2>
                                </div>
                                <div class="col-lg-8 col-xs-8 cell btb-none">
                                    <div>
                                        <h2 class="heading-2">SERVICE TYPE AND/OR DESCRIPTION</h2>
                                        <div><em>A - Assessment</em></div>
                                        <div><em>C - Consultative</em></div>
                                        <div><em>D - Direct</em></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-6 pr-0">
                            <div class="cell btb-none">
                                <div class="cell-item">
                                    <h2 class="heading-2">BEGINNING AND ENDING DATES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">FREQUENCY OF SERVICES</h2>
                                </div>
                                <div class="cell-item">
                                    <h2 class="heading-2">LOCATION OF SERVICES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h2 class="heading-2 pb-2 pt-2">PARTICIPATION IN STATEWIDE AND/OR DISTRICT-WIDE ASSESSMENTS</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item">
                            <h2 class="heading-2">Indicate how the student will participate in statewide
                                or district - wide assessments.</h2>
                        </div>
                        <div class="cell-item">
                            <h2 class="heading-2">If the student will participate in an alternate assessment,
                                explain why the student cannot participate in the regular
                                assessment, and why the particular alternate assessment
                                selected is appropriate.</h2>
                        </div>
                        <div class="cell-item">
                            <h2 class="heading-2">If the student will participate in a regular assessment, does the
                                student require accommodations?</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <h2 class="heading-2 pb-2 pt-2">EXTENDED SCHOOL YEAR SERVICES</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item">
                            <h2 class="heading-2 pb-2">Does the student require extended school year services?</h2>
                            <div class="row">
                                <div class="col-lg-1">
                                    <check-box label="No"></check-box>
                                </div>
                                <div class="col-lg-1">
                                    <check-box label="Yes"></check-box>
                                </div>
                                <div>
                                    <span>If YES, IEP goals and benchmarks/short-term objectives and/or related services to be implemented in ESY must be identified.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 col-xs-9 pr-0">
                                    <cell-line display="d-flex" label="If need for ESY is to be determined at a later date, indicate date by which IEP decision will be made:"></cell-line>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </pdf-page>
             
             <!-- PAGE 7 -->
             <pdf-page v-if="!pageToggle || visible === 7" date="July 2018" label="IEP page 7" num="7" total="7">
                 <div>
                    <div class="text-center">
                        <h2 class="heading-2">PLACEMENT</h2>
                        <div class="d-flex center">
                            <div class="col-2">
                                <cell-line label="start date" line="50"></cell-line>
                            </div>
                            <div class="col-2">
                                <cell-line label="end date" line="50"></cell-line>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="cell-item col-lg-8 col-xs-8">
                            <div class="text-center">
                                <h2 class="heading-2 pb-3">PLACEMENT CONSIDERATIONS</h2>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Regular class with supplementary aids and services (no removal)</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Regular class and special education class (e.g., resource) combination</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Self-contained program</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Special school</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Residential</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Hospital</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xs-7">
                                        <span>Home</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-xs-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Selected"></check-box>
                                            </div>
                                            <div class="col-lg-6 col-xs-6">
                                                <check-box label="Rejected"></check-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 pr-0">
                                        <div class="d-flex w-100">
                                            <cell-line label="Other" data=""></cell-line>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell-item col-lg-4 col-xs-4">
                            <div class="text-center">
                                <h2 class="heading-2 pb-2">PERCENTAGE OF TIME IN REGULAR EDUCATION ENVIRONMENT</h2>
                                <span class="d-flex w-100 flex-wrap">
                                    <span class="mr-2">The student will spend </span>
                                    <div class="d-flex">
                                        <cell-line display="d-flex" line="40"></cell-line> 
                                    </div>   
                                    <span>% of his or her school day</span>
                                    in the regular education environment.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="cell bt-0">
                        <div class="cell-item">
                            <div class="text-center">
                                <h2 class="heading-2 pb-2">JUSTIFICATION FOR PLACEMENT INVOLVING REMOVAL FROM REGULAR EDUCATION ENVIRONMENTS*</h2>
                                <p>Explain why the IEP goals and objectives cannot be implemented in regular education environments, including the reasons why the team rejected a less restrictive placement</p>
                                <p>Include an explanation of any harmful effects on the learning of this or other students which affected the placement selection.</p>
                            </div>
                            <div>
                                <div class="pdf-statement"></div>
                                <p>*Regular education environments include academic classes (which might include field trips linked to the curriculum), nonacademic settings (such as recess), and extracurricular activities (for
                                    example, sports, after-school clubs, band, etc.).</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h2 class="heading-2 pt-2 pb-2">IEP IMPLEMENTATION</h2>
                    </div>
                    <div class="cell">
                        <div class="cell-item">
                            <div class="pb-4">
                                <check-box label="As the parent, I agree with the components of this IEP. I understand that its provisions will be implemented as soon as possible after the IEP goes into effect."></check-box>
                            </div>
                            <div class="pb-4">
                                <check-box label="As the parent, I disagree with all or part of this IEP. I understand that the school district must provide me with written notice of any intent to implement this IEP. If I wish to
                            prevent the implementation of this IEP, I must submit a written request for a due process hearing to the local school district superintendent."></check-box>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6 col-lg-offset-6 col-xs-offset-6">
                                    <cell-line label="Parent Signature"></cell-line> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex w-100 space-between pt-4">
                        <div class="d-flex">
                            <check-box label="A copy of this IEP was provided to the student's parent on: "></check-box>
                            <div class="ml-4 text-center pt-1">
                                <cell-line line="140"></cell-line>
                                <span>(Date)</span>
                            </div>
                            <span class="ml-4">by</span>
                        </div>
                        <div class="d-flex flex-grow">
                            <div class="flex-grow ml-4 mr-4 text-center pt-1">
                                <cell-line></cell-line>
                                <span>(Print name)</span>
                            </div>
                            <div class="flex-grow mr-4 ml-4 text-center pt-1">
                                <cell-line></cell-line>
                                <span>(Print title)</span>
                            </div>
                        </div>
                    </div>
                 </div>
             </pdf-page>
        </div>
    </div>
    <script src="src/index.js"></script>
</body>
</html>