.pdf-page {
    &-special-factors {
        margin: 1rem;
        & li {
            font-size: 14px;
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    }
}

.pdf-preview {
    position: fixed;
    right: 0;
    &-btn {
        margin: .5rem;
        padding: .5rem;
        width: 40px;
    }
}
