.pdf-page {
    &-special-factors {
        margin: 1.6rem;
        & li {
            font-size: 14px;
            padding-left: 3.2rem;
            padding-bottom: 1rem;
        }
    }
}

.pdf-preview {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 5rem;
    &-btn {
        margin: .5rem;
        padding: .5rem;
        width: 30px;
    }
}
