.pdf-line {
    width: 100%;
    border-bottom: 1px solid #000;
    font-size: .825rem;
}

.pdf-page {
    width: 95%;
    margin: 0 auto;
}

.pdf-statement {
    height: 80px;
}

.cell {
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .cell-item {
        border-left: 1px solid #000;
        padding: 1rem;
        flex-grow: 1;

        &:last-child {
            border-right: 1px solid #000;
        }

        .cell-row {
            margin-top: .75rem;
            margin-bottom: .75rem;

            &-label {
                font-size: .825rem;
                margin-right: .5rem;
                flex-shrink: 0;

                &.block {
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
