// not a fan of this line below...
// TODO fix path resolution issue with node modules and parcel...
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css";

@import "variables";
@import "base";
@import "spacing";
@import "typography";
@import "utils/text";
@import "components/pdf/index";
@import "page/pdf";

.w-100 {
    width: 100%;
}

.btb-none {
    border-top: none;
    border-bottom: none;
}

.bt-0 {
    border-top: none;
}

.bb-0 {
    border-bottom: none;
}

.m-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}