// not a fan of this line below...
// TODO fix path resolution issue with node modules and parcel...
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css";

@import "base";
@import "spacing";
@import "typography";
@import "utils/text";
@import "components/pdf/index";
@import "page/pdf";

.w-100 {
    width: 100%;
}

.btb-none {
    border-top: none;
    border-bottom: none;
}