.d-flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

@for $i from 0 through 4 {
    .pb-#{$i} {
        padding-bottom: $i * .25rem !important;
    }

    .pl-#{$i} {
        padding-left: $i * .25rem !important;
    }

    .pr-#{$i} {
        padding-right: $i * .25rem !important;
    }

    .pt-#{$i} {
        padding-top: $i * .25rem !important;
    }

    /*
    
    */

    .mb-#{$i} {
        margin-bottom: $i * .25rem !important;
    }

    .ml-#{$i} {
        margin-left: $i * .25rem !important;
    }

    .mr-#{$i} {
        margin-right: $i * .25rem !important;
    }

    .mt-#{$i} {
        margin-top: $i * .25rem !important;
    }
}